---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Toast from "../components/Toast.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description = "UU MEMO - 那些轉瞬即逝的思考，留在這個安靜的角落。",
	image = "/uu-memo.png",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=M+PLUS+Rounded+1c:wght@300;400;700&family=Zen+Maru+Gothic:wght@900&display=swap"
			rel="stylesheet"
		/>

		<!-- Google Material Icons (Outlined) -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<ClientRouter />
	</head>
	<body
		class="selection:bg-uu-sub selection:text-uu-dark bg-uu-base text-uu-main font-sans antialiased w-full overflow-x-hidden min-h-screen"
	>
		<slot />
		<Toast />
	</body>
</html>
